.bigwrapper-clients{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
  
    .light-yellow{
      background-color: #ffbe61;
      padding: 40px;
      border-radius: 8px;
      padding-bottom: 100px;
      h1{
        font-size: 2rem;
        font-weight: 400;
        
      }
    }
  
    .dark-blue{
      background-color: #7b32d5;
      padding: 40px;
      border-radius: 8px;
      padding-bottom: 100px;
      h1{
        font-size: 2em;
        font-weight: 400;
        
        
      }
    }
  
    .light-blue{
      background-color: #37a7ff;
      padding: 40px;
      border-radius: 8px;
      padding-bottom: 100px;
      h1{
        font-size: 2rem;
        font-weight: 400;
       
        
      }
    }
  
    .light-purple{
      background-color: #ff2a75;
      padding: 40px;
      border-radius: 8px;
      padding-bottom: 100px;
      h1{
        font-size: 2rem;
        font-weight: 400;
        
      }
    }
  
    p{
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 30px;
    }
  
    .float-right{
      float: right;
      
    }
  
  }