footer{
    background-color: #322e45;
    width: 100%;
    height: 100px;
    text-align: center;
  
    p{
      font-size: 1.2rem;
      color: #a3a1ac;
      line-height: 100px;
      
    }
  
  }