
.maria{
    width: 100%;
    background-color: #37324b;
    padding-top: 40px;
  
    .maria-text{
      text-align: center;
      font-size: 2.7rem;
      color: #a3a1ac;
  
      .ferrero{
        color: white;
        font-weight: 400;
      }
  
      .ferrero::after{
        content: "";
        display: block;
        width: 6%;
        height: 4px;
        background-color: #37a7ff;
        position: absolute;
        left: 47%;
        margin-top: 10px;
        
      }
    }
  
    .social-media-icons{
      text-align: center;
  
      a{
        img{
          width: 40px;
          padding: 45px 0px;
          margin: 10px;
        }
      }
    }
  
  }
  