@media only screen and (max-width:992px){
    header .text{
      margin-right: -100px;
    }
  
    header .text span{
      font-size: 3.5rem;
    }
  
    header .text h1{
      font-size: 4rem;
    }
  
  
    .bigwrapper .Exclusively .img1{
      padding: 50px 30px;
    }
  
    .product a{
      left: 32%;
      top: 30px;
    }
  
    .maria .maria-text{
      padding-top: 42px;
    }
  
    header .text{
      margin-top: 66px;
    }
  }
  
  
  @media only screen and (max-width:768px){
    header .right{
      margin: 40px 20px;
    }
  
    header .text{
      margin-top: 200px;
      float: left;
    }
  
    header .text span{
      font-size: 4.5rem;
    }
  
    header .text h1{
      font-size: 5rem;
    }
  
    header .text h3{
      font-size: 2.5rem;
    }
  
    .bigwrapper .Exclusively{
      padding: 100px 15px;
    }
  
  
    .bigwrapper .Exclusively h2{
      font-size: 2.5rem;
    }
  
    .bigwrapper .Exclusively .img{
      padding: 60px 30px;
    }
  
  
  
    .numbring .left-numbring h1{
      font-size: 3.5rem;
    }
  
    .numbring .center-numbring h1{
      font-size: 3.5rem;
    }
  
    .numbring .right-numbring h1{
      font-size: 3.5rem;
    }
  
    .product h1{
      font-size: 2rem;
    }
  
    .product a{
      padding: 20px 50px;
      left: 34%;
      top: 60px;
    }
  
  
    footer p{
      font-size: 1rem;
    }
  
    header .text .btn{
      padding: 20px 100px;
    }
  
    .bigwrapper .Exclusively .img1{
      padding: 47px 30px;
    }
  
    .bigwrapper-clients .light-blue h1{
      font-size: 1.9rem;
    }
  
    .bigwrapper-clients .light-purple h1{
      font-size: 1.7rem;
    }
  
    .bigwrapper-clients .light-yellow h1{
      font-size: 1.9rem;
    }
  
    .maria{
      height:auto ;
    }
  
    .maria .maria-text{
      padding-top: 60px;
    }
  
    .product a{
      left: 20%;
      top: 15px;
      
    }
  
    .product h1{
      position: relative;
      top: -25px;
    }
  
  
  
  }
  
  @media only screen and (max-width:600px){
    header .text h1{
      font-size: 3rem;
    }
  
    .bigwrapper .Exclusively .img1 h3{
      font-size: 1rem;
    }
  
    .bigwrapper .Exclusively .img h3{
      font-size: 1rem;
    }
  
    .bigwrapper .Exclusively .img p{
      font-size: 0.8rem;
    }
  
    .bigwrapper .Exclusively .img1 p{
      font-size: 0.8rem;
    }
  
    .bigwrapper .Exclusively .img1{
      padding: 52px 30px;
    }
  
    .bigwrapper .Exclusively h2::after{
      width: 15%;
    }
  
    .testimonials h2::after{
      width: 13%;
    }
  
    .bigwrapper-clients .light-yellow h1{
      font-size: 1.9rem;
    }
  
    .bigwrapper-clients .dark-blue h1{
      font-size: 1.9rem;
    }
  
    .bigwrapper-clients .light-purple h1{
      font-size: 1.9rem;
    }
  
    .product a{
      left: 28%;
    }
  
    .maria .maria-text .ferrero::after{
      width: 10%;
      left: 45%;
    }
  
    .product a{
      left: 20%;
      top: 15px;
      
    }
  
    .product h1{
      position: relative;
      top: -25px;
    }
  
  
    
  }
  
  @media only screen and (max-width:448px){
    .bigwrapper .Exclusively h2{
      font-size: 2rem;
    }
  
    .testimonials h1{
      font-size: 2rem;
    }
  
    .testimonials h2{
      font-size: 2rem;
    }
  
    .numbring .left-numbring{
      width: 100%;
    }
  
    .numbring .center-numbring{
      width: 100%;
      padding: 40px 0px;
    }
  
    .numbring .right-numbring{
      width: 100%;
    }
  
    .product h1{
      font-size: 1.5rem;
    }
  
    .product a{
      padding: 15px 30px;
      left: 26%;
    }
  
    header .overlay a{
      font-size: 22px;
    }
  
    .bigwrapper .Exclusively h2::after{
      width: 20%;
    }
  
    .testimonials h2::after{
      width: 15%;
    }
  
    header .text .btn{
      padding: 15px 50px;
    }
  
    header .text ul li img{
      width: 25px;
      margin-left: 15px;
    }
  
    header .text ul .lable{
      font-size: 1.2rem;
    }
  
    header .text span{
      font-size: 3rem;
    }
  
    header .text{
      float: left;
      margin-top: -15px;
    }
  
    .bigwrapper .Exclusively .img1{
      padding: 49px 30px;
    }
  
    .product a{
      left: 20%;
      top: 15px;
      
    }
  
    .product h1{
      position: relative;
      top: -25px;
    }
  
  }
  
  @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
  }
  
  @media only screen and (max-width:415px){
  
    header .right{
      margin: 20px;
      width: 10%;
    }
  
    header .text h1{
      font-size: 2.5rem;
    }
  
    header .text h3{
      font-size: 1.2rem;
    }
    
    header .text{
      margin-top: 250px;
    }
  
  
    .maria .social-media-icons a img{
      width: 35px;
    }
  
    .maria .maria-text{
      font-size: 2.5rem;
    }
  
    .product h1{
      position: relative;
      top: 20px;
    }
  
    .bigwrapper-clients p{
      font-size: 1rem;
    }
  
    .bigwrapper .Exclusively .img p{
      font-size: 1rem;
    }
  
    .bigwrapper .Exclusively .img1 p{
      font-size: 1rem;
    }
  
    .bigwrapper .Exclusively h2::after {
      width: 14%;
    }
  
    .testimonials {
      line-height: 40px;
    }
  
    .bigwrapper .Exclusively .img img{
      width: 40%;
    }
  
    .bigwrapper .Exclusively .img1 img{
      width: 40%;
    }
  
    .bigwrapper .Exclusively .img1{
      padding:50px 30px;
    }
  
    .bigwrapper .Exclusively .img h3{
      font-size: 1.3rem;
    }
  
    .bigwrapper .Exclusively .img1 h3{
      font-size: 1.3rem;
    }
  
    .bigwrapper .Exclusively h2{
      font-size: 1.5rem;
    }
  
    .bigwrapper .Exclusively{
      padding: 100px 15px;
    }
  
    .numbring .left-numbring h1{
      font-size: 3rem;
    }
  
    .numbring .center-numbring h1{
      font-size: 3rem;
    }
  
    .numbring .right-numbring h1{
      font-size: 3rem;
    }
  
    .product a{
      left: 20%;
      top: 15px;
      
    }
  
    .product h1{
      position: relative;
      top: -25px;
    }
  
  }
  
  
  @media only screen and (max-width:361px){
    header .text{
      margin-top: 175px;
    }
  
    .bigwrapper .Exclusively .img h3{
      font-size: 1.4rem;
    }
  
    .bigwrapper .Exclusively .img p{
      font-size: 1rem;
    }
  
    .bigwrapper .Exclusively .img1 img{
      width: 35%;
    }
  
    .bigwrapper .Exclusively .img1{
      padding: 30px;
    }
  
    .bigwrapper .Exclusively .img1 h3{
      font-size: 1.3rem;
    }
  
  
    .maria .maria-text{
      font-size: 2rem;
    }
  
    .maria .maria-text .ferrero::after{
      width: 16%;
      left: 41%;
    }
  
    .maria .social-media-icons a img{
      width: 30px;
    }
  
    .product a{
      left: 20%;
    }
  
    .bigwrapper-clients .light-yellow h1{
      font-size: 1.5rem;
    }
  
    .bigwrapper-clients .dark-blue h1{
      font-size: 1.5rem;
    }
  
    .bigwrapper-clients .light-blue h1{
      font-size: 1.5rem;
    }
  
    .bigwrapper-clients .light-purple h1{
      font-size: 1.5rem;
    }
  
    .bigwrapper .Exclusively .img1{
      padding: 60px 30px;
    }
  
    .product a{
      left: 20%;
      top: 15px;
      
    }
  
    .product h1{
      position: relative;
      top: -25px;
    }
  
  }
  
  
  @media only screen and (max-width:378px){
    header .text{
      margin-top: 110px;
    }
  
    .bigwrapper .Exclusively .img1 h3{
      font-size: 1.2rem;
    }
  
    .bigwrapper .Exclusively .img h3{
      font-size: 1.2rem;
    }
  
    .product a{
      left: 20%;
      top: 15px;
      
    }
  
    .product h1{
      position: relative;
      top: -25px;
    }
  
    
  
    .bigwrapper-clients .light-yellow h1{
      font-size: 1.5rem;
    }
  
    .bigwrapper-clients .dark-blue h1{
      font-size: 1.5rem;
    }
  
    .bigwrapper-clients .light-blue h1{
      font-size: 1.5rem;
    }
  
    .bigwrapper-clients .light-purple h1{
      font-size: 1.5rem;
    }
    
  }