.numbring{
    color: #4e4c58;
    text-align: center;
    padding: 100px 0px;
  
    .left-numbring{
      width: 30%;
      
      
      h1{
        font-size: 6rem;
        color: #7447ae;
      }
    }
  
    .center-numbring{
      width: 30%;
      
      h1{
        font-size: 6rem;
        color: #37a7ff;
      }
      
    }
  
    .right-numbring{
      width: 30%;
      
      h1{
        font-size: 6rem;
        color: #ff2a75;
      } 
    }
  
    h4{
      font-size: 1.5rem;
    }
  }