
.testimonials{
    padding-bottom: 100px;
    color: #4e4c58;
  
    p{
      font-size: 1.3rem;
      font-weight: 200;
    }
  
    h1{
  
      font-size: 3.5rem;
      font-weight: 600;
      span{
        color: #ff2a75;
      }
    }
  
    h2{
      font-size: 3.5rem;
      font-weight: 600;
    }
  
    h2::after{
      content: "";
      display: block;
      width: 10%;
      height: 3px;
      background-color: #ff2a75;
      position: relative;
      top: 12px;
    }
  
  }
  